body {
    background-image: url(pict/Backround_2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 200px;
    border-radius: 50%;

}
.container {
    display: flex;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    box-shadow: 6px 6px 5px;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.mytitle {
    color: white;
    text-align: center;
    padding-top: 50px;
    text-shadow: 4px 4px 3px #373737;
}
.card-body {
    background-color: rgba(55, 55, 55, 15%);
}
.element1 {
    margin: 20px;
}
.element2 {
    margin: 20px;
}
.element3 {
    margin: 20px;
}
.element4 {
    margin: 20px;
}
.element5 {
    margin: 20px;
}
footer {
    text-align: center;
    background-color: rgba(55, 55, 55, 70%);
    color: white;
    height: 50px;
}
/* 1630 <--- resolusi paling aman */
@media screen and (max-width: 1599px) and (min-width: 300px) {
    .container {
        display: grid;
        max-width:100%;
        width: 100%;
    }
    .card {
        margin: 0 auto; /* Added */
        margin-bottom: 15px; /* Added */
        box-shadow: 6px 6px 5px;
    }
    .card-img-top {
        width:100%;
        height:auto;
    }
    footer {
        position: relative;
        height: 70px;
    }
}