
.card {
    width: 18rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; 
    margin-top: 50px;
    box-shadow: 6px 6px;
}
img {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 6px 6px;
}
.back {
    width: 3rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; 
    margin-top: 50px;
    box-shadow: 6px 6px;
}